
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.navserach
{
    height: 55px;
    width: 100%;
    display: flex;
    background-color: black;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;  
    position: fixed;
    /* border-bottom: 0.5px solid white; */
}
.navserach .part1
{
    display: flex;
    width: 80%;
    /* z-index: 20000px; */
}
.navserach .part1 .containerInput
{
   width: 100%;
   background-color: red;
   /* position: absolute; */
   
}
.navserach .part1 .containerInput input
{
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    background-color: black;
    font-size: 16px;
    padding-left: 20px;
    -webkit-appearance: none;
    color: white;
    /* position: absolute; */
    /* border-bottom: 0.5px solid white; */
}
.navserach .part1 .containerInput input::placeholder {
    color: rgb(149, 148, 148);
}
.navserach .part1 .containerIcone
{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navserach .part1 .containerIcone i
{
    color: white;
    font-size: 25px;
}
.navserach .part1 i
{
    color: white;
}
.navserach .part2
{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: white; */
    padding-right: 20px;
}
.navserach .part2 img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.navserach .part2 p
{
    margin-right: 30px;
    color: white;
    text-align: center;
}
.containerAlert
{
    width: 100%;
    min-height: 100px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    /* background-color: black; */
    /* padding-right: 20px; */
}
.alert
{
    width: 200px;
    min-height: 150px;
    display: none;
    background-color: white;
    margin-top: 70px;
    margin-right: 13px;
    transition: 0.5s all;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 5px 24px;
    border-radius: 10px;
    position: fixed;
}
.alert li
{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14.5px;
    transition: 0.5s all;
    text-align: center;
    font-weight: bold;
}
.alert li:first-child
{
    border-bottom: 0.5px solid rgb(149, 148, 148);
}
.alert li:hover
{
    background-color: black;
    color: white;
}
.searchbar
{
    position: absolute;
    background-color: black;
    /* min-height: 200px; */
    padding: 20px;
    width: 70%;
    margin: 60px 100px 0px 100px;
    opacity: 0;
    transition: 0.3s all;
    border-radius: 10px;
}
.parentSearch
{
    display: flex;
    background-color: rgb(126, 126, 126);
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition: 0.3s all;
    border-radius: 10px;
}
.parentSearch:hover
{
    background-color: rgb(0, 0, 0);
    color: white;
}
.parentSearch:last-child {
    margin-bottom: 0;
}
.img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    /* margin-left: 200px; */
}
.name
{
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}
.parentSearch:hover .name
{
    color: white;
}
.noUser
{
    padding: 10px;
}
.allPage
{
    background-color: black;
    height: 100vh;
    /* margin-top: -50px;     */
    /* z-index: -2; */
}