
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
    text-decoration: none;
    
}
body
{
    background-color: #121419;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.navserach
{
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #1d212a;
   top: 0;
    z-index: 1;  
    position: fixed;
    /* border-bottom: 0.5px solid white; */
}
.navserach .part1
{
    display: flex;
    width: 80%;
    /* z-index: 20000px; */
}
.navserach .part1 .containerInput
{
   width: 100%;
   background-color: red;
   /* position: absolute; */
   
}
.navserach .part1 .containerInput input
{
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    background-color: #1d212a;
    font-size: 16px;
    padding-left: 20px;
    -webkit-appearance: none;
    color: white;
    /* position: absolute; */
    /* border-bottom: 0.5px solid white; */
}
.navserach .part1 .containerInput input::placeholder {
    color: rgb(149, 148, 148);
}
.navserach .part1 .containerIcone
{
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navserach .part1 .containerIcone i
{
    color: white;
    font-size: 25px;
}
.navserach .part1 i
{
    color: white;
}
.navserach .part2
{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: white; */
    padding-right: 20px;
}
.navserach .part2 img
{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.navserach .part2 p
{
    margin-right: 30px;
    color: white;
    text-align: center;
}
.containerAlert
{
    width: 100%;
    min-height: 100px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: flex-end;
    /* background-color: black; */
    /* padding-right: 20px; */
}
.alert
{
    width: 200px;
    min-height: 100px;
    display: none;
    background-color: #1d212a;
    margin-top: 10px;
    margin-right: 13px;
    transition: 0.5s all;
    border-radius: 10px;
    position: fixed;
}
.alert li
{
    list-style: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14.5px;
    transition: 0.5s all;
    /* padding-left: 20px; */
    text-align: center;
    /* font-weight: bold; */
    color: white;
}

.alert li a
{
    color: white;
}
.alert a:first-child
{
    border-radius:9px 9px 0 0;
}
.alert a:last-child
{
    border-radius:0px 0px 9px 9px;
    font-weight: bold;
    font-size: 15px;
}
.alert li:hover
{
    background-color: black;
    color: white;
}
.searchbar
{
    position: absolute;
    background-color: #1d212a;
    /* min-height: 200px; */
    padding: 10px;
    width: 50%;
    margin: 20px 100px 0px 100px;
    opacity: 0;
    transition: 0.3s all;
    border-radius: 10px;
    border: 0.5px solid rgba(168, 168, 168, 0.314);
}
.parentSearch
{
    display: flex;
    /* background-color: gray; */
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition: 0.3s all;
    border-radius: 10px;
    color: white;
}
.parentSearch:hover
{
    background-color: #121419;
    color: white;
}
.parentSearch:last-child {
    margin-bottom: 0;
}
.img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    /* margin-left: 200px; */
}
.name
{
    margin-left: 15px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}
.parentSearch:hover .name
{
    color: white;
}
.noUser
{
    padding: 10px;
}
.allPage
{
    background-color: #121419;
    height: 92vh;
    margin-top: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conatainerTableScore
{
    width: 30%;
    height: 650px;
    background-color: #1d212a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(168, 168, 168, 0.314);
}
.titleTable
{
    height: 70px;
    background-color: #121419;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10px; */
   
}
.titleTable p
{
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.containerUsers
{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    overflow-y: scroll;
}
.containerEachUser
{
    height: 65px;
    width: 100%;
    background-color: red;
    display: flex;
    cursor: pointer;
    background-color: #1d212a;
    transition: 0.5s all;
    color: white;
}
.containerEachUser:hover
{
    background-color: #121419;
}
.containerImg
{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerImg img
{
    width: 44px;
    border-radius: 50%;
}

.containerName
{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerScore
{
    width: 20%;
    display: flex;
    justify-self: center;
    align-items: center;
}